// image
.field.field--name-field-news-image.field--type-image.field--label-hidden.field--item img{
	width:100%;
	margin-bottom: 20px;
}

//bloc gauche
.field.field--name-field-bloc-gauche.field--type-text-long.field--label-hidden.field--item{
	margin-bottom: 30px;
}

//images sup
.field.field--name-field-images-sup.field--type-image.field--label-hidden.field--items img{
	width: 100%;
}