a.back{	
	margin-top: 30px;
	color: $color1;
	font-size: 14px;
}

a.back:hover{
	color: $color3;
	background: none;
	text-decoration: none;
	transition: 0.5s;
}

.back{
	display: flex;
	justify-content: center;
}