footer{
	// background: yellow;
}	

.menu.menu--footer.nav a{
	color: $color3;
	padding:0;
}

.menu.menu--footer.nav a:hover{
	color: $color1;
	background: none;
	transition: 0.5s;
}

.footer.container{
	display: flex;
	justify-content: center;
	border-top: 1px solid $color3;
}