.navbar-header{
	width: 100%;
	background: white;
	margin-top: 50px;
}

.region.region-navigation{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.menu.menu--main.nav.navbar-nav a{
	font-family: $font;	
	height: 40px;
	margin-left: 50px;
	padding-left: 0;
	padding-right: 0;
	font-weight: $bold;
	color: $color1;
}

.menu.menu--main.nav.navbar-nav a:hover{
	color: $color3;
	border-bottom: 1px solid $color3;
	// background-color: $color1;
	transition: 0.5s;
}

.menu.menu--main.nav.navbar-nav a:focus{
	background: none;
}

.navbar-default {
	border: none;
    background-color: white;
}

// pour enlever le background de is-active
html.js body.path-node.page-node-type-page.has-glyphicons header#navbar.navbar.navbar-default.container div.navbar-header div.region.region-navigation nav#block-navigationprincipale ul.menu.menu--main.nav.navbar-nav li.active a.is-active{
	background: none;
	color: $color3;
	border-bottom: 1px solid $color3;
	// background-color: $color1;
	transition: 0.5s;
}




