header#navbar{
	background: white;
	position: sticky;
	top:0;
	z-index: 100;
}

header#navbar.navbar.navbar-default.container{
	padding: 0;
}

.navbar-header{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}

.navbar-default {
	border: none;
	background-color: white;
}

.region.region-navigation{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.menu.menu--main.nav.navbar-nav a{
	font-family: $font;	
	height: 40px;
	margin-left: 50px;
	padding-left: 0;
	padding-right: 0;
	font-weight: $bold;
	color: $color1;
}

.menu.menu--main.nav.navbar-nav a:hover{
	color: $color3;
	border-bottom: 1px solid $color3;
	background: none;
	transition: 0.5s;
}

.menu.menu--main.nav.navbar-nav a:focus{
	background: none;
}


// pour enlever le background de is-active
ul.menu.menu--main.nav.navbar-nav li.active a.is-active{
	background: none;
	color: $color3;
	border-bottom: 1px solid $color3;
	transition: 0.5s;
}



#leMenu{
	display:flex;
	align-items:center;
}


#social-network{
	margin-left:20px
}

#social-network a{
	width:20px;
	height:20px;
}

#social-network a img{
	width:20px;
	margin-left:10px;
	margin-top:5px;
}
