.navbar-header{
	width: 100%;
	background: white;
	margin-top: 50px;
}

.region.region-navigation{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.menu.menu--main.nav.navbar-nav a{
	font-family: $font;	
	height: 40px;
	margin-left: 50px;
	padding-left: 0;
	padding-right: 0;
	font-weight: $bold;
	color: $color1;
}

.menu.menu--main.nav.navbar-nav a:hover{
	color: $color3;
	border-bottom: 1px solid $color3;
	// background-color: $color1;
	transition: 0.5s;
}

.navbar-default {
	border: none;
    background-color: white;
}
