.menu.menu--menu-agence.nav{
	display: flex;
	margin-bottom: 30px;

  @media screen and (max-width: #{$screen-xs-min}) {
    display: block;
  }
}

.menu.menu--menu-agence.nav a{
	font-family: $font;	
	color: $color1;
	height: 40px;
	margin-right: 50px;
	padding-left: 0;
	padding-right: 0;


  @media screen and (max-width: #{$screen-xs-max}) {
    margin-right: 10px;
  }

  @media screen and (max-width: #{$screen-xs-min}) {
    display: block;
  }

}

.menu.menu--menu-agence.nav a:hover{
	color: $color3;
	border-bottom: 1px solid $color3;
	transition: 0.5s;
	background: none;
}

.menu.menu--menu-agence.nav a.is-active{
	background: none;
	color: $color3;
	border-bottom: 1px solid $color3;
	transition: 0.5s;
}
