.menu.menu--menu-projets.nav{
	display: flex;
  margin: 0 10px;

  @media screen and (max-width: #{$screen-sm-min}) {
    display: block;
  }

  @media screen and (max-width: #{$screen-sm-min}) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

}

.menu.menu--menu-projets.nav a{
	font-family: $font;	
	color: $color1;
	height: 40px;
	margin-right: 30px;
	padding-left: 0;
	padding-right: 0;

  @media screen and (max-width: #{$screen-sm-max}) {
    margin-right: 10px;
  }


}

.menu.menu--menu-projets.nav a:hover{
	color: $color3;
	border-bottom: 1px solid $color3;
	transition: 0.5s;
	background: none;
}

.menu.menu--menu-projets.nav a.is-active{
	background: none;
	color: $color3;
	border-bottom: 1px solid $color3;
	transition: 0.5s;
}
