#burger-menu,#close-menu{
	display:none;
}

@media all and (max-device-width: 480px){


	/******************** PARTIE MENU RESPONSIVE ********************************/ 
	header#navbar{
		background: $color2;
		height: 80px;
		padding-left:20px;
		padding-top:10px;
	}
	div.navbar-header{
		margin:0;
		padding:0;
	}
	a.logo.navbar-btn img {
		width:230px;
	}
	#leMenu{
		display:flex;
		position:absolute;
		width:100vw;
		height:100vh;
		background:$color2;
		top:0;
		left:-400px;
		justify-content: center;
		align-items:center;
		font-size: 2rem;
		transition:0.5s;
		z-index:200;
	}
	ul.menu--main li.nav-item{
		margin: 30px 0px;
		text-align:center;
		display:flex;
		justify-content:center;
	}
	.menu.menu--main.nav.navbar-nav a{
		margin:0;
	}
	//bouton close
	#close-menu{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:absolute;
		border:1px solid $color3;
		width: 40px;
		height:40px;
		top:10% ;
		right:10%;
		border-radius:50%;
		background:$color2;
		color:$color3;
	}
	// bouton menu-burger
	#burger-menu{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:absolute;
		top:15%;
		right:5%;
		border:1px solid $color3;
		background:$color2;
		width: 40px;
		height:40px;
		border-radius:5px;
	}
	#burger-menu span{
		border:1px solid $color3;
		width: 80%;
		margin: 3px 0px;

	}
	// effet d'apparition du menu burger
	.moved {
		transform: translateX(400px); 
		transition:0.5s;
	}

	/******************** PAGE ACTUALITES ********************************/ 

	/******************** PAGE PROJETS ********************************/ 

	/******************** PAGE AGENCE ********************************/ 

	/******************** PAGE CONTACT ********************************/ 

	//container
	html.js body.path-contact.has-glyphicons div.main-container.container.js-quickedit-main-content div.row section.col-sm-12 div.region.region-content{
		flex-direction: column;	
	}
	//map
	.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item iframe{
		width:100%;
		padding:0;
	}
	//infos
	.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item p{
		text-align: center;
	}
	//form
	.contact-message-form-form.contact-message-form.contact-form{
		width: 90%;
		margin:auto;
		margin-top:20px;
	}
	// div boutons
	div#edit-actions{
		display: flex;
		justify-content: center;
	}

}


