div.items {
	
	margin: 15px;
	
}


div.field--name-field-titre-actu{
	// background: pink;
	text-align:right;
	
}

div.field--name-field-date{
	// background:red;
	
}

.titrage-actu{
	display:flex;
	flex-direction:row;
	text-transform:uppercase;
}

.titrage-actu p{
	margin: 0 5px;
}

div.view-actualites {
	
	
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	  
	
	}	


@media (max-width: 500px) {
		
		div.view-actualites {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}