div#masonry div.view-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


div.items {
	margin: 15px;
	width:500px;	
}

div.field--name-field-news-image img.img-responsive{
	width:500px;
	height:350px;
	object-fit: cover; //Permet de faire rentrer l'image dans le cadre carré
}

div.field--name-field-titre-actu{
	text-align:right;
	
}


.titrage-actu{
	display:flex;
	flex-direction:row;
	text-transform:uppercase;
}

.titrage-actu p{
	margin: 0 5px;
}



//pour le titre
div.field--name-field-titre-de-lactu{
	text-align: center;
	color: $color1;
	font-weight: $bold;
	margin-bottom: 20px;
	font-size: 16px;
	text-transform: uppercase;
}








// masonry

// div.view-actualites {
	// 	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	// 	-moz-column-count: 2; /* Firefox */
	// 	column-count: 2;
	// }	

	// @media (max-width: 500px) {
		
		// 		div.view-actualites {


			// 	-webkit-column-count: 1; /* Chrome, Safari, Opera */
			//     -moz-column-count: 1; /* Firefox */
			//     column-count: 1;
			// 	}
			// }
