.pagination.js-pager__items a{
	color: rgb(51,51,51);
	border: none;
}

.pagination.js-pager__items a:hover{
	color: $color3;
	transition: 0.5s;
	background: none;
}

.pagination > .active > a{
	color: $color3;
	background: none;
}

//tout le bloc pagination
.pagination.js-pager__items{
	margin-top: 50px;
}

//pour aller à la dernière page
.pager__item.pager__item--last{
	display: none;
}