// Page tous les projets 
a.titre-projet{
	background: rgba(255,255,255,0.6);
	position: absolute;
	width: 250px;
	height:250px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color1;
	opacity: 0;
	text-decoration: none;
}

a.titre-projet:hover{
	opacity:1;
	transition: 0.5s;
}

div.items-projet:hover{
    transform: scale(1.05);
	transition: 0.5s;
}

.items-projet {
	width:250px;
	height:250px;
	margin:15px;
	overflow: hidden;
	transition: 0.5s;
}

div.view-projets .view-content,div.view-projets-enseignement .view-content,div.view-projets-tertiaire-sante .view-content,div.view-projets-culturel-sportif .view-content,div.view-projets-logement-collectif .view-content,div.view-projets-tertiaire-sante .view-content,div.view-projets-culturel-sportif .view-content,div.view-projets-logement-individuel .view-content{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:center;
}


div.view-projets .view-content .img-responsive,div.view-projets-enseignement .view-content .img-responsive,div.view-projets-tertiaire-sante .view-content .img-responsive,div.view-projets-culturel-sportif .view-content .img-responsive,div.view-projets-logement-collectif .view-content .img-responsive,div.view-projets-logement-individuel .view-content .img-responsive{
	width:250px;
	height:250px;
	object-fit: cover; //Permet de faire rentrer l'image dans le cadre carré
}

//pour le titre
div.field--name-field-titre-du-projet{
	text-align: center;
	color: $color1;
	font-weight: $bold;
	margin-bottom: 20px;
	font-size: 16px;
	text-transform: uppercase;
}

