// première image
.field.field--name-field-image.field--type-image.field--label-hidden.field--item img{
	width:100%;
  height: auto;
	margin-bottom: 20px;
}

//titre
.field.field--name-field-titre-du-projet.field--type-string.field--label-hidden.field--item{
	text-align: left;
}

.field.field--name-field-bloc-gauche.field--type-text-long.field--label-hidden.field--item {
  margin-bottom: 0 !important;
}

//bloc gauche
.field.field--name-field-bloc-gauche.field--type-text-long.field--label-hidden.field--item p{
	padding-top: 20px;
	margin-right: 30px;
	border-top: 2px solid $color3;
}

@media all and (min-width: 768px) {
  .field.field--name-field-bloc-gauche.field--type-text-long.field--label-hidden.field--item {
    width: 40%;
  }

  .field.field--name-field-bloc-droite.field--type-text-long.field--label-hidden.field--item {
    width: 60%;
  }
}

@media all and (min-width: 1024px) {
  .field.field--name-field-bloc-gauche.field--type-text-long.field--label-hidden.field--item {
    width: 30%;
  }

  .field.field--name-field-bloc-droite.field--type-text-long.field--label-hidden.field--item {
    width: 70%;
  }
}

.page-node-type-projet .deuxblocs{
  margin-bottom: 30px;
  display:flex;
  justify-content:space-between;

  @media all and (max-width: 767px) {
    flex-direction: column;
  }
}


//bloc droit
.field.field--name-field-bloc-droite.field--type-text-long.field--label-hidden.field--item p{
	padding-top: 20px;
}

//images sup (supplémentaires)
.field.field--name-field-images-sup.field--type-image.field--label-hidden.field--items img{
	width: 100%;
  height: auto;
	margin-bottom: 20px;
}
