// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';



// C+2B theme .

@import 'global/variables.scss';
@import 'global/animate.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/menu_agence.scss';
@import 'components/menu_filtre.scss';
@import 'components/page_classique.scss';
@import 'components/projet_classique.scss';
@import 'components/projet.scss';
@import 'components/contact.scss';
@import 'components/distinctions.scss';
@import 'components/pagination.scss';
@import 'components/bouton-retour.scss';
@import 'components/homepage.scss';
@import 'components/actu_classique.scss';
@import 'components/news.scss';
@import 'components/mobile_responsive.scss'; 


/** suppression de "sabonner" sur la page de base **/


body{
	font-family: $font;
}

.img-grid-row-projet{
	display: flex;
	justify-content: space-around;
}


.img-grid-col-projet{
	margin:0px 10px;
}


.grid-actu{
	display: flex;
}

