// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';



// C+2B theme .

@import 'global/variables.scss';
@import 'components/header.scss';
@import 'components/news.scss';
@import 'components/footer.scss';



/** suppression de "sabonner" sur la page de base **/


body{
	font-family: $font;
}

.img-grid-row-projet{
	display: flex;
	justify-content: space-around;
}


.img-grid-col-projet{
	margin:0px 10px;
}


.grid-actu{
	display: flex;


}